[submodule ".registry"]
	path = .registry
	url = https://github.com/emptyfield-ds/universe
	shallow = true
	branch = HEAD
[submodule "emptyfield"]
	path = emptyfield
	url = https://github.com/emptyfield-ds/emptyfield
	shallow = true
	registered = true
[submodule "opensky"]
	path = opensky
	url = https://github.com/emptyfield-ds/opensky
	shallow = true
	registered = true
[submodule "shunyata"]
	path = shunyata
	url = https://github.com/emptyfield-ds/shunyata
	shallow = true
	registered = true
[submodule "rrr.workshop"]
	path = rrr.workshop
	url = https://github.com/emptyfield-ds/rrr.workshop
	shallow = true
	registered = true
[submodule "rpkg.workshop"]
	path = rpkg.workshop
	url = https://github.com/emptyfield-ds/rpkg.workshop
	shallow = true
	registered = true
[submodule "renderthis"]
	path = renderthis
	url = https://github.com/jhelvy/xaringanBuilder
	shallow = true
	registered = false
[submodule "rscloud"]
	path = rscloud
	url = https://github.com/rstudio/rscloud
	shallow = true
	registered = false
[submodule "testthat"]
	path = testthat
	url = https://github.com/malcolmbarrett/testthat
	shallow = true
	branch = snapshot_file_path
	registered = false
